.a-login {
  h1 {
    margin-top: 25px;
  }

  .a-dont-have {
    margin-bottom: 25px;
  }

  .a-img-study img {
    height: 100%;
  }

  .ant-form {
    #normal_login_confirmPassword {
      height: 30px !important;
    }
  }
}
